@import "./normalize.css";
@import "vars.css";

.app{
    background-color: var(--bg-color);
    overflow-x: scroll;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100vh;
}