.form{
    padding: 43px 45px;
}

.line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 24px;
}

.text{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon_btn{
    cursor: pointer;
}