.text{
    display: flex;
    align-items: center;
}

.primary_title{
    font-size: 42px;
    font-weight: 900;
    line-height: 52px;
    color: #252525;
}
.secondary_title{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #252525;
}
.ternary_title{
    font-size: 36px;
    font-weight: 800;
    line-height: 43.88px;
    color: #252525;
}
.quaternary_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #252525;
}

.primary_subtitle{
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #252525;
}
.secondary_subtitle{
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: #252525;
}
.ternary_subtitle{
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    color: #252525;
}
.quaternary_subtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #252525;
}

.primary_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #252525;
}
.secondary_text{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;
}
.description_text{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6A6A6A;
}