.form{
    margin: 38px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.slice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 18px;

    .right_part{
        display: flex;
        align-items: center;
        gap: 66px;
    }
}