.overlay{
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: rgba($color: #000, $alpha: .7);
    border-radius: 20px;
    padding: 5px 20px;

    animation-duration: 5s;
    animation-name: opacity;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
  
    to {
        opacity: .5;
    }
}

.error_text{
    font-size: 18px;
    font-weight: 600;
    color: rgb(205, 0, 0);
}