.excursions{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    margin: 20px 0;
    padding: 20px 0;
    gap: 20px 0;
    height: 300px;
    overflow-y: scroll;
}
.submit_wrapper{
    position: relative;
    width: 100%;
    height: 50px;

    .submit{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.score_managment{
    display: flex;
    margin: 20px 0;
    gap: 10px;
}
.excursion_item{
    cursor: pointer;
    transition: .2s;
}

.excursion_item_select{
    border: 3px solid #FFD600;
}

.excursion_item:hover {
    border: 1px solid #FFD600;
}