.excursions{
    height: 300px;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;

    overflow: auto;
}
.submit_wrapper{
    position: relative;
    width: 100%;
    height: 50px;

    .submit{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.score_managment{
    display: flex;
    margin: 20px 0;
    gap: 10px;
}
.excursion_item{
    margin: 10px 0;
    cursor: pointer;
    transition: .2s;
}

.excursion_item_select{
    border: 3px solid var(--primary-color);
}

.excursion_item:hover {
    border: 1px solid var(--primary-color);
}