.wrap{
    margin-top: 111px;
}

.title{
    display: flex;
    margin-bottom: 84px;
}

.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 35px;
}

.cart{
    position: absolute;
    z-index: 90;
    top: 50%;
    right: 17px;
    transform: translate(0, -50%);
}

@media (max-width: 900px) {
    .title{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 740px) {
    .list{
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .cart{
        right: -10px;
    }

    .wrap{
        margin-top: 62px;
    }
    .title{
        margin-bottom: 32px;
    }
}

@media (max-width: 400px) {
    .title_excursion{
        font-size: 18px;
        line-height: 20px;
        width: 200px;
    }
}