.image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.primary_image{
    border-radius: 15px;
}

.secondary_image{
    border-radius: 20px;
}

.ternary_image{
    border-radius: 50%;
}