.form{
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    height: fit-content;
    padding: 31px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}