.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 18px;
    width: 789px;
}

.slice{
    display: flex;
    width: 100%;
}