.excursions{
    margin-top: 108px;

    .head_excursion{
        gap: 54px;
        margin-bottom: 77px;
    }

    .button_excursion{
        margin-top: 73px;
    }

    @media (max-width: 820px) {
        .head_excursion{
            flex-direction: column;
            gap: 28px 18px;
            margin-bottom: 39px;
        }
    }
    @media (max-width: 600px) {
        .button_excursion{
            margin-top: 44px;
        }
    }
}

@media (max-width: 600px) {
    .excursions{
        margin-top: 67px;
    }
}