.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 286px;
    height: 193px;
    margin-top: 20px;
    padding: 5px 10px 10px 10px;
}

@media (max-width: 330px) {
    .block{
        width: 200px;
    }
}