.wrap{
    display: flex;
    align-items: center;
}
.button{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: .2s;
}
.value{
    margin: 0 10px;
}

.button:hover{
    background-color:#d8d8d8;
}