.wrap{
    position: relative;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: transparent;
}

.primary{
    background-color: var(--primary-color);
    border-radius: 100px;
    padding: 12px 27px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.secondary{
    background-color: #F5F5F5;
    font-size: 15px;
    border-radius: 100px;
    padding: 10px 20px;
    font-weight: 400;
}

.none{
    font-size: 15px;
    font-weight: 400;
}

.content{
    background-color: #FFFFFF;
    box-shadow: 0px 7px 100px 0px #00000026;
    border-radius: 15px;
    z-index: 500;
    position: absolute;
    transition: .1s;
    opacity: 0;
}

.open{
    .content{
        opacity: 1;
        margin-top: 10px;
        z-index: 500;
    }
}

.close{
    .content{
        z-index: -100;
        opacity: 0;
        top: 20px;
    }
}

.arrow{
    margin-left: 10px;
}