.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('shared/assets/img/other/intro.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 639px;
    border-radius: 20px;
}

.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding-top: 123px;
    height: 100%;
    width: 100%;
    padding: 123px 10px 0 10px;
    text-align: center;
}

.field{
    width: 100%;
    max-width: 628px;
}

.sort_list{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 61px;
    width: 100%;
    max-width: 800px;
    gap: 15px;

    .btn{
        background-color: rgba($color: #252525, $alpha: 15%);
        transition: .2s;
    }
    .btn:hover{
        background-color: rgba($color: #000000, $alpha: 65%);
    }
}

.title{
    max-width: 549px;
    width: 100%;
}

@media (max-width: 600px) {
    .container{
        padding-top: 44px;
    }
}

@media (max-width: 600px) {
    .title{
        font-size: 22px;
        max-width: 300px;
        height: 66px;
        line-height: 32px;
    }
    .subtitle{
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 320px) {
    .title{
        font-size: 15px;
        line-height: 20px;
    }
    .subtitle{
        font-size: 13px;
        font-weight: 300;
    }
}