.form{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    padding: 32px 85px 44px 85px;
    height: 900px;
    width: 100%;
}

.title_wrap{
    display: flex;
    justify-content: center;
}

.payment_methods{
    margin-top: 24px;
    display: flex;
    gap: 25px;
}

.payment_block{
    margin-top: 34px;
    width: 100%;
}

.form_user_data{
    display: flex;
    justify-content: center;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 24px 0;
    margin-top: 23px;
    gap: 45px;

    .right_part{
        background-color: #F6F6F6;
        border-radius: 20px;
        max-width: 381px;
        width: 100%;
        height: 257px;
        margin-top: 20px;
        padding: 32px;
    }
}

.second{
    margin-top: 24px;
}

.ternary {
    margin-top: 96px;
}

@media (max-width: 850px) {
    .form{
        padding: 10px 20px;
    }
}

@media (max-width: 680px) {
    .form_user_data{
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 340px) {
    .form_user_data{
        padding: 10px 15px;
    }
}