.wrapper{
    display: flex;
    overflow: hidden;
    position: relative;
}

.btn{
    position: absolute;
    z-index: 888;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.content{
    position: absolute;
    display: flex;
    transition: .2s;
}

.inner_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_left{
    top: calc(50% - 22px);
    right: 40px;
}

.btn_right{
    top: calc(50% - 22px);
    left: 40px;
}